$primary: #1f2023;
$secondary: #4a9df7;
$accent: #2f80f3;

$light-gray: #f8f8f8;
$gray: #b0b0b0;
$dark-gray: #eff1f5;
$red: #ff1220;

$font-famaly: "Montserrat", sans-serif, "Roboto", "Helvetica Neue", Helvetica, Arial;
